body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

.business-card {
  width : 300px;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
p {
  margin-top: 5px;
  margin-bottom: 5px; 
}
.profile-image {
  max-width: 100%;
  
}

a {
  text-decoration: none;
}

a:hover {
  color: navy;
}